[Desktop Entry]
Name=VGMPlay
GenericName=VGMPlay
Comment=VGM File Player
Exec=/home/tatokis/vgmplay/VGMPlay/vgmplay %f
Terminal=true
Icon=/home/tatokis/vgmplay/vgmplay.png
Type=Application
StartupNotify=false
Version=1.0
